body {
  background-color: #242526;
  font-family: 'Inter';
  color: #FFFFFF;
}

.container {
  width: 100%;
  margin-top: 60px;
}

.content {
  margin-top: 100px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

a:hover {
  color: white;
}

/* **************************** SPINNER ******************************** */

#spinner {
  width: 15.7px;
  height: 15.7px;
  position: fixed;
  top:  300px;
  left: 50%
}

#spinner div {
  width: 100%;
  height: 100%;
  background-color: #f884d9;
  border-radius: 50%;
  animation: spinner-4t3wzl 1.25s infinite backwards;
}

#spinner div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(248,132,217,0.9);
}

#spinner div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(248,132,217,0.8);
}

#spinner div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(248,132,217,0.7);
}

#spinner div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(248,132,217,0.6);
}

#spinner div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(248,132,217,0.5);
}

@keyframes spinner-4t3wzl {
  0% {
     transform: rotate(0deg) translateY(-200%);
  }

  60%, 100% {
     transform: rotate(360deg) translateY(-200%);
  }
}

/* ****************************  NAVBAR  ***********************************/

#nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: fixed;
  background-image: linear-gradient(to right, #41B6E6, #F884D9);
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  z-index: 999;
  height: 70px;

  font-family: 'Kodchasan';
}

.nav-item {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.70);
  border-bottom: 2px solid #FFFFFF;
  border-radius: 30px;
}

.hovered {
  background-color: rgba(0,0,0,0.70);
  border-bottom: 2px solid #FFFFFF;
  border-radius: 30px;
}

/* ****************************  HOME  ***********************************/

#content-home {
  transition:visibility 0.3s linear,opacity 0.3s linear;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 20px;
}


#content-home-img-web, #content-home-img-mobile {
  height: auto;
  width: 85%;
}

#content-home-email-link {
  font-weight: bold;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0079AA;
  margin-right: 5px;
}

#content-home-email-link:hover {
  border-bottom: 3px solid #0079AA;
}


#content-home-ofx-link {
  font-weight: bold;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f79f34;
  margin-right: 5px;
}

#content-home-ofx-link:hover {
  border-bottom: 3px solid #ffffff;
}

#content-home-text {
  display: block;
  text-align: center;
}

/* ****************************  EXPERIENCE  ***********************************/

#content-experience {
  transition:visibility 0.3s linear,opacity 0.3s linear;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0px 20px 20px 20px;

  width: 100%;
}

.content-experience-company {
  border-bottom: 1px solid grey;
}

.content-experience-company > div {
  padding: 30px 20px 30px 20px;
}

.content-experience-company li {
  margin-bottom: 10px;
}

.content-experience-company h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.content-experience-years {
  font-size: 12px;
}

/* ****************************  BRAND  ***********************************/

#content-brand {
  transition:visibility 0.3s linear,opacity 0.3s linear;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 20px;
}

#content-brand-logo {
  max-height: 100px;
  height: auto;
  width: 100%;
  padding: 20px;
}

#content-brand-link-container {
  background-color: #0079AA;
  border-radius: 20px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px
}

#content-brand-link-container > div:hover {
  border-bottom: 3px solid white;
  color: #FFFFFF;
}

/* ****************************  SOCIALS  ***********************************/

#content-socials {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.3s linear,
    opacity 0.3s linear;
  position: absolute;
  padding: 20px;
}

/* ****************************  RESPONSIVE  ***********************************/

@media (min-width: 0px) {
  .nav-item {
    font-size: 10px;
  }
}

@media (min-width: 320px) {

  .nav-item {
    font-size: 12px;
  }

  #content-home-img-web {
    display: none;
  }

  #content-home-img-mobile {
    display: block;
    width: 100%;
  }
  
  #content-home {
    display: block;
    text-align: center;
  }

  .content-experience-company {
    display: block;
  }

  .content-experience-logo {
    display: block;
    text-align: center;
  }

  .content-experience-company img {
    width: 100px;
  }
}

@media (min-width: 768px) {

  .nav-item {
    font-size: 23px;
  }

  body {
    font-size: 14px;
  }

  #content-home-img-web {
    display: block;
  }

  #content-home-img-mobile {
    display: none;
  }

  .content-experience-company {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .content-experience-logo {
    display: flex;
    flex-direction: column;
  }

  .content-experience-company img {
    width: 100%;
  }

  #content-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 1024px) {
  #name {
    font-size: 55px
  }

  body {
    font-size:18 px;
  }
}

@media (min-width: 1440px) {

  body {
    font-size: 22px;
  }
  
  #content-brand {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  #content-home > div {
    padding-top: 100px;
    padding-left: 200px;
  }

  #content-experience {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  #name {
    font-size: 70px;
  }
}