body {
  background-color: #0E2132;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1, h2 {
  font-family: "Luckiest Guy";
  color: white;
}

.indent {
  margin-left: 40px;
}

.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.navbar-title {
  width: 40%;
  height: 75px;
  display: block;
}

.navbar-block-left {
  width: 10%;
  height: 75px;
  display: flex;
}

.navbar-block-right {
  width: 15%;
  height: 75px;
  float: right;
}

.name {
  font-size: 75px;
  color: greenyellow;
}

.name-short {
  color: greenyellow;
  display: none;
}

#links-small {
  display: none;
}

a {
  height: 75px;
  width: 5px;
}

.linkedin, .github {
  height: 75px;
  cursor: pointer;
  transition: opacity .15s ease;
  opacity: 0.9;
  padding: 10px;
  border-radius: 10px;
}

.linkedin:hover, .github:hover {
  background-color: rgb(154, 205, 50, 0.5);
}

.container {
  width: 66%;
  margin-top: 60px;
}

.logo {
  border-radius: 50px;
  display: block;
  margin-bottom: 20px;
  height: 75px;
}

.logos {
  height: 70px;
  margin-right: 10px;
}

.flex-middle {
  min-width: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.flex-left {
  display: flex;
  justify-content:left;
  align-items: center;
  margin-bottom: 20px;
}

.flex-up {
  display: flex;
  justify-content:center;
  align-items:flex-start;
}

.flex-up > .flex-left {
  margin-right: 50px;
}

.flex-right {
  display: flex;
  justify-content:center;
  align-items: center;
}

.block-middle {
  text-align: center;
}

.block-left {
  text-align: left;
  margin-bottom: 40px;
}

.block-right {
  text-align: right;
}

/* Projects Carousel */

.carousel-item {
  width: 100%;
  height: 600px;
  color: white;
}
.carousel-overlay {
  background: rgb(0, 0, 0, 0.9);
  padding-top: 50px;
  padding-bottom: 600px;
}

.spoons-background {
  background: url('/assets/spoons-background.jpeg');
  background-size: cover;
}

.spoons-logo {
  min-width: 0px;
}

.stay-tuned-logo {
  min-width: 0px;
  height: 300px;
}

.carousel-item > img {
  background-size: cover;
  height: auto;
  width: auto;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgb(154, 205, 50, 0.5);
}

.spoons-button {
  font-family: 'Luckiest Guy', sans-serif;
  margin-top: 20px;
  font-size: 60px;
}

@media (max-width: 1243px) {
  .navbar-title {
    width: 45%;
  }
  .container {
    width: 80%;
  }
}


@media (max-width: 1110px) {
  .navbar-title {
    width: 50%;
  }
  
}

@media (max-width: 998px) {
  .name {
    margin-top: 15px;
    font-size: 60px;
  }
}

@media (max-width: 998px) {
  .name {
    margin-top: 20px;
    font-size: 40px;
  }
}

@media (max-width: 998px) {

  .container {
    width: 90%;
  }

  .name {
    display: none;
  }
  .name-short {
    display: block;
    font-size: 50px;
    margin-top: 15px;
  }
}

@media (max-width: 998px) {

  .navbar-block-left {
    display: none;
  }

  .navbar-block-right {
    display: none;
  }

  #links-small {
    display: block;
  }
}