body {
  background-color: #0E2132;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1, h2 {
  font-family: "Luckiest Guy";
  color: white;
}

.navbar {
  background-color: grey;
  display: block;
  padding-top: 50px;
}

.linkedin, .github {
  margin-left: 40px;
  margin-right: 40px;
  height: 150px;
  cursor: pointer;
  transition: opacity .15s ease;
  opacity: 0.9;
  padding: 10px;
  border-radius: 20px;
}

.linkedin:hover, .github:hover {
  background-color: rgb(154, 205, 50, 0.5);
}

.container {
  width: 75%;
  margin-top: 60px;
}

.logo {
  border-radius: 50px;
  display: block;
  margin-bottom: 20px;
}

.logos {
  height: 70px;
  margin-right: 10px;
}

.flex-middle {
  min-width: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.flex-left {
  display: flex;
  justify-content:left;
  align-items: center;
  margin-bottom: 20px;
}

.flex-up {
  display: flex;
  justify-content:center;
  align-items:flex-start;
}

.flex-up > .flex-left {
  margin-right: 50px;
}

.block-middle {
  text-align: center;
  margin-bottom: 50px;
}

.block-left {
  text-align: left;
  margin-bottom: 50px;
}

/* Projects Carousel */

.carousel-item {
  width: 100%;
  height: 600px;
  color: white;
}
.carousel-overlay {
  background: rgb(0, 0, 0, 0.9);
  padding-top: 50px;
  padding-bottom: 600px;
}

.spoons-background {
  background: url('/assets/spoons-background.jpeg');
  background-size: cover;
}

.spoons-logo {
  min-width: 0px;
}

.stay-tuned-logo {
  min-width: 0px;
  height: 300px;
}

.carousel-item > img {
  background-size: cover;
  height: auto;
  width: auto;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgb(154, 205, 50, 0.5);
}

.spoons-button {
  font-family: 'Luckiest Guy', sans-serif;
  margin-top: 20px;
  font-size: 60px;
}